<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메인페이지</title>

<link href="../css/main5.css" rel="stylesheet">
<link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../lib/sweetalert/dist/sweetalert.css">

</head>
<body>
     
<div id="wrap">
            <div id="header">
          
                <div class="title">FAMINICLE <span>가족들과 소중한 추억을 공유해 보세요</span> </div> 
<!--                 <div class="title">FAMINICLE </div>  -->
<!--                 <span id="mant1"> 가족들과 소중한 추억을 공유해 보세요</span> -->
                
                <div class="login">
                	<div class="loginContainer">
						<form id="loginForm">
							<div class="form-group">
								<input type="text" class="form-control" id="id" placeholder="아이디"/>
								<input type="password" class="form-control" id="pass" placeholder="비밀번호"/>
							</div>
							<div class="form-group form-group-mt">
								<button id="login" type="submit" class="btn btn-primary">로그인 </button><br/>
								<button id="join" type="button" class="btn btn-info" onclick="location.href='join.html'">회원가입</button>
							</div>
						</form>
					</div>
				</div>
            </div>
            
            <div id="container">
            	<div style="clear: both;"></div>
				<div id="main">
					<div id="main-left">
						<div id="slider">
							<figure>
								<img src="../images/main/가족앨범.jpg" alt="">
								<img src="../images/main/가족앨범2.jpg" alt="">
								<img src="../images/main/슬라이드2.jpg" alt="">
								<img src="../images/main/연대기.jpg" alt="">
								<img src="../images/main/연대기2.jpg" alt="">
							</figure>
						</div>
					</div>
					<div id="main-right">
						<div id="slidy">
							<figure>
								<img src="../images/main/가족앨범.jpg" alt="">
								<img src="../images/main/가족앨범2.jpg" alt="">
								<img src="../images/main/슬라이드2.jpg" alt="">
								<img src="../images/main/연대기.jpg" alt="">
								<img src="../images/main/연대기2.jpg" alt="">
							</figure>
						</div>
					</div>
				</div>
              
            </div>
            
            
            
            
            <div id="footer" align="center">
                | Java77기 | 이용약관  | 개인정보취급방침 | Faminicle | 고객센터
            </div> 
</div>

<script src="../lib/sweetalert/dist/sweetalert.min.js"></script>
<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../js/main5.js"></script>
<script src="../js/common.js"></script>
</body>
</html>